{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid findus-banner container-coloured">
    <div class="row">
        <div class="col-sm-12">
            <p class="quote-text-2">"If the Adeptus Astartes are the Emperor's wrath,<br>
            and the Imperial Guard His hammer,<br>
            then His Holy Navy is His mighty shield."<br>
            — Cardinal Kregory Hestor</p>
        </div>
    </div>
</div>
<div class="container container-coloured">
    <div class="row">
        <div class="col-sm-12">
        <br>
            <h1 class="text-center">Find Us</h1>
            <br>
            <p class="main-text">We meet every Friday evening at Crossfit Beowulf gym in letchworth. Sessions run from 19:00 - late and with your
            first night being free there is no reason not to come down and try it out. We have an active <a href="https://www.facebook.com/groups/2191342400932195">Facebook group</a>
             and <a href="https://discord.com/invite/4629ZBG?fbclid=IwAR1hc9VJfJToTGKCyghRE0CWNjwW6elqXJfkV-Nj9qDLt6eXrChHWlnTLeg">Discord server</a> so feel 
             free to get in contact with any questions or queries you may have. For directions to the gym see below.</p>
             <br>
        </div>
    </div>
    <div class="row border-t-b pt-5 pb-5">
        <div class="col-sm-12 col-md-6">
        <br>
            <img class="full-border-img" src="{% static 'css/images/gymmap.jpg' %}">
        </div>
        <div class="col-sm-12 col-md-6">
        <br>
            <p class="main-text text-center"><strong>Crossfit Beowulf<br>
                Unit 2<br>
                Halyard Estate<br>
                Arden Press Way<br>
                Letchworth<br>
                SG6 1FP</strong><br>
            </p>
            <ol class="main-text">
            <li>Coming from works road, turn down Arden Press Way</li>
            <li>Take the first right turn inbetween the two gravel carparks</li>
            <li>After about 30 yards you will enter the carpark with Beowulf gym on your right, we are located
            in a room, through a  small door to the right hand side of the gyms main entrance(if you are looking at the gym)</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}