{% extends 'accounts/base.html' %}

{% block content %}
{% load static %}
 <div class="container-fluid main-banner ">
    <div class="hero-text">
        <p class="hero-text-subheading"> Your Local Gaming Club</p>
        <h1 class="hero-text-main">Beowulf wargaming</h1>
        <p class="hero-text-content">Primarily playing games made by Games Workshop.<br>
        We meet every Friday night in Beowulf gym<br> Which is located in Letchworth Garden City.</p>
    </div>
  </div>
<br>
<div class="container container-coloured">
    <div class="row">
        <div class="col-lg-6 col-md-12">
           
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-12 col-lg-6 mt-5">
            <h2>Welcome to valhalla</h2>
            <br>
            <p class="main-text p-3">We are a small, friendly tabletop Gaming group based in Letchworth Garden City.
             We primarily play games made by Games workshop including Warhammer 40K, Age of Sigmar, Underworlds 
             and many more. We believe gaming should be fun so we take great effort to create a light-hearted and
             friendly atmosphere that is welcoming to new and veteran players alike, All Skill levels are welcome,
             We can accommodate small beginner games as well as large all-out battles. We also have a very active
             hobbying community and we run painting competitions and have a monthly showcase of models we have
             painted on discord. We recommend joining our active Discord server to come chat with us and hang
             out. Your first gaming session is free and if you decide to come back it's only £2 per evening,
             a tuck shop is also available for refreshments.  Use the links at the top of the page to visit
             our Facebook group and join our discord server or head on down to Beowulf gym on friday night
             , Use the find us page to see where we are. Happy Gaming!</p>  
        </div>
        <div class="col-md-12 col-lg-6 mt-5">
            <h4>What We Play</h4>
            <br>
            <p class="main-text p-3">We play most game systems made by Games Workshop but we are always willing to try new games so 
            feel free to ask! We have a large amount of Tables, Gaming matts and scenary avaliable so we can accommodate
            most games. If you would like to try a new game, play a beginners game or just want help arranging a match
            for your first visit to the club, please let us know. A few examples of the games we play:</p>
            <ul class="main-text pl-5">
                <li>Warhammer 40k</li>
                <li>Age Of Sigmar</li>
                <li>Warhammer Underworlds</li>
                <li>Kill Team</li>
                <li>WarCry</li>
                <li>Adeptus Titanicus</li>
                <li>BloodBowl</li>
            </ul>  
        </div>
    </div>
    <br>
    <br>
</div>
<div class="container-fluid img-bg">
    <div class="row quote-text">
        <div class="col-md-12 mt-5">
            <p>" We are the Ultramarines, the Sons of Guilliman.<br>
            Whilst we draw breath, we stand.<br>
            Whilst we stand, we fight.<br>
            Whilst we fight, we prevail.<br>
             Nothing shall stay our wrath. "<br>
             -Marneus Calgar</p>
        </div>
    </div>
</div>


{% endblock %}